@model IEnumerable<ForumIT.Models.PodKomentarz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Komentarz.Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uzytkownik.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Komentarz.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzytkownik.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPodKomentarza }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPodKomentarza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPodKomentarza })
        </td>
    </tr>
}

</table>
